
#{form @registerUser()}

        <p >
            <strong>Username:</strong> <input type="text" name="n" size="16"> *

        </p>


        <p >
            <strong>Email:</strong> <input type="text" name="e" size="16" > *

        </p>


        <p >
            <strong>Password:</strong> <input type="password" name="p" size="16" > *

        </p>

        <p >
            <strong>Verify password:</strong> <input type="password" name="p" size="16" > *

        </p>

    <p>
        <input type="submit" value="Register"/>
    </p>
#{/form}